.cart-dropdown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 92.5px;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkout-button{
    margin-top: auto;
    border: none;
    height: 50px;
    width: 225px;
    font-size: 15px;
    margin-top: 5px;
    color: white;
    background-color: black;
    transition: opacity 5ms;

    &:hover {
        opacity: 0.8
    }
}