.component-list{
    display : flex;
    flex-direction: column;
    width: 21.25%;
    position: relative;
}

.images{
    transition: opacity 5ms;
    height: 90%;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.photos{
    transition: transform 3s;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

    &:hover{
        transform: scale(1.25);
        opacity: 0.75;
    }
}

.list{
    display : flex;
    flex-direction: row; 
    cursor: pointer;
}

.name{
    font-size: 13px;
    width: 90%;
}

.prices{
    font-size: 20px;
}

.buttonadd{
    height: 50px;
    position: absolute;
    width: 265px;
    bottom: 60px;
    margin-left: 20px;
    font-size: 15px;
    background-color:white;
    color: black;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;

    &:hover{
        display: flex;
        background-color: black;
        color: white;
        opacity: 0.85;
    }
}

.component-list:hover{
    .buttonadd{
        display: flex;
    }
}
