.collection-preview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 2500px;
    padding: 10px;
}

.shoppage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.collections{
    font-size: 2.5rem;
    margin-left: 32.5px;
    margin-top: 10px;
    margin-bottom: 0;
}